<h1><%= "Episode Date: #{@episode.date}" %></h1>
<h1>Average Rating: <%= @episode.avg_rating %></h1>
<br>

<h1><%= "Guests:" %></h1>
<ul>
  <% @episode.guests.each do |guest| %>
    <li><%= link_to guest.name, guest_path %></li>
  <% end %>
</ul>
<br>

<%= link_to "Back To episodes", episodes_path %>